.sidenav {
  width: 15%;
  height: 100%;
  position: relative;
  float: left;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}
.sidenav p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #2196F3;
  display: block;
}


.sidenav a:hover {
  color: #064579;
}
.flex-container {
  display: flex;
  float:right;
  width: 78%;
  padding: 6px 8px 6px 6px;
  flex-direction: column;
}

.flex-container > div{
  background-color:#333;
  color: white;
  width: 90%;
  height: 50%;
  margin: 10px;
  line-height: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.flex-container > div >img
{
  padding: 3%;
  float: left;
  height: 30%;
  width: 30%;
}
.flex-container >div >img :hover
{
  opacity: 0.2;
}

.rest1{
  text-decoration: none;
  color: white;
}

